<ion-header>
  <ion-navbar>
    <ion-title>
      mmartam
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
    <ion-item *ngFor="let product of products">
        <div class="row">
          <div class="col" text-center>{{product.productName}}</div>
          <div class="col" text-center>{{product.productDescription}}</div>
          <div class="col" text-center>{{product.productPrice}}</div>
          <div class="col" text-center>{{product.productActualPrice}}</div>
         </div>           
    </ion-item>
  <!-- <ion-list>
    <ion-label>Produtos</ion-label>
    <ion-item *ngFor="let product of products">
      <h2>Nome: {{product.productName}}</h2>
      <p>Descrição: {{product.productDescription}}</p>
      <p>De: {{product.productPrice}}</p>
      <p>Por: {{product.productActualPrice}}</p>
    </ion-item>
  </ion-list> -->
</ion-content>
